<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		#set ($pageTitle="Home")

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		#includeJQueryJs()
		#includeBootstrapCss()
		#includeBootstrapJs()
		#includeUtilitiesJs()
	</head>
	<body>
		<div class="container">
			#if($showHeader)
				#parse("header.vm")
			#else
				<br>
			#end
			#parse($body)
			#parse("footer.vm")
		</div>
		
		<script>
			#if ($pageTitle)
				#set ($singleLineTitle = $Formatter.makeSingleLine($pageTitle))
				document.title = "$productName - $Utilities.escapeForJavascript($!{singleLineTitle})";
			#end
		</script>
	</body>
</html>