<div class="hero-unit navbar navbar-inner shadow">
	<!-- <h1>Click to Buy!</h1> -->
	<p>This site is under construction.</p>
	<p>Remote Host Name: $hostName</p>
	<p>
		<a class="btn btn-primary btn-large" id="learnmore">Learn more &raquo;</a>
	</p>
	<div id="ajaxdiv"></div>
	<p><a href="${servletPageWithAction}error">Click here</a> to go to error page.</p>
</div>

#ajaxrequest("#learnmore" "${servletPageWithAjaxAction}Home" "GET" "renderui")

<script>
	function renderui(data)
	{
		$("#ajaxdiv").empty();
		$("#ajaxdiv").append(data);
	}
</script>