#macro (includeBootstrapJs)
	#if (!$BootstrapJsIncluded)
		#set ($BootstrapJsIncluded = true)
		<script type="text/javascript"  src="./js/bootstrap.min.js"></script>
	#end
#end

#macro (includeBootstrapCss)	
	#if (!$BootstrapCssIncluded)
		#set ($BootstrapCssIncluded = true)	
		<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="./css/bootstrap-responsive.css">
		<link rel="stylesheet" type="text/css" href="./css/validationEngine.jquery.css">
	#end
#end

#macro (includeJQueryJs)	
	<script type="text/javascript" src="./js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="./js/jquery.validationEngine.js"></script>
	<script type="text/javascript" src="./js/jquery.validationEngine-en.js"></script>
#end

#macro (includeUtilitiesJs)	
	#if (!$UtilitiesJsIncluded)
		#set ($UtilitiesJsIncluded = true)	
		<script type="text/javascript" src="./js/Hashtable.js"></script>
		<script type="text/javascript" src="./js/recaptcha_ajax.js"></script>
	#end
#end

#macro (ajaxrequest $component $url $type $method)
	<script>
		$(document).ready(function(){
			$("${component}").click(function(){
				$.ajax({
					url: "${url}",
					type: "${type}",
					success: $method
				});
			});
		});
	</script>
#end

#macro (addReCaptch $div)
	Recaptcha.create("${captchaPublicKey}",
		"$div",
		{
		      theme: "clean",
		      callback: Recaptcha.focus_response_field
		}
	);
#end
